<mat-toolbar color="primary">
  Bus Attendance App
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-12">
      <mat-list>
        <mat-list-item *ngFor="let student of students; let last = last;">
          <p matLine>
            <swiper (indexChange)="onIndexChange($event)">
              <div>
                student {{student}}
              </div>
              <div style="background: green;">. </div>
            </swiper>
          </p>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
