#file-trigger {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

#file-upload-input {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}

#file-display {
  margin-right: 14px;
  direction: ltr;
}
