<div class="app-content container-fluid">
  <div class="row">
    <div class="col-12">
      <button style="display: block; width: 24px;" mat-icon-button color="accent" (click)="toggleReadonlyMode()">
        <mat-icon *ngIf="readonlyMode">lock</mat-icon>
        <mat-icon *ngIf="!readonlyMode">lock_open</mat-icon>
      </button>

      <mat-form-field>
        <input matInput placeholder="חפש" [(ngModel)]="searchString">
      </mat-form-field>

      <div style="margin-bottom: 14px;">
        <mat-checkbox [(ngModel)]="statusFilter[0]">לא נוכחים</mat-checkbox>
        <mat-checkbox [(ngModel)]="statusFilter[1]">נוכחים בלי אישור</mat-checkbox>
        <mat-checkbox [(ngModel)]="statusFilter[2]">נוכחים עם אישור</mat-checkbox>
      </div>


      <mat-radio-group [hidden]="!(bus === 'center')" [(ngModel)]="centerStation">
        <mat-radio-button value="">כל התחנות</mat-radio-button>
        <mat-radio-button value="ירושלים בנייני-האומה">ירושלים בנייני האומה</mat-radio-button>
        <mat-radio-button value="פונדק אלביס">פונדק אלביס</mat-radio-button>
        <mat-radio-button value="תל-אביב ארלוזרוב">תל-אביב ארלוזרוב</mat-radio-button>
        <mat-radio-button value="חיפה- לב המפרץ">חיפה לב המפרץ</mat-radio-button>
      </mat-radio-group>
<!-- 
      <mat-radio-group [hidden]="!(bus === 'haifa')" [(ngModel)]="haifaStation">
        <mat-radio-button value="">כל התחנות</mat-radio-button>
        <mat-radio-button value="קריון">קריון</mat-radio-button>
      </mat-radio-group> -->

      <div style="margin-top: 16px;">
        <button style="width: 44%; height: 50px;" mat-raised-button [color]="bus === 'center' ? 'primary' : ''"
          (click)="setBus('center')">אוטובוס</button>
        <button style="width: 44%; height: 50px;" mat-raised-button [color]="bus === 'haifa' ? 'primary' : ''"
          (click)="setBus('haifa')">מיניבוס</button>
      </div>

      <mat-list [class.visible]="bus === 'center'">
        <mat-list-item *ngFor="let person of center$ | async; let last = last; let i = index; trackBy: trackByFn;"
          [class.hide]="shouldHide(person, 'center')" >
          <swiper #centerSwiper matLine (indexChange)="onIndexChange($event, person, 'center')"
            (dblclick)="centerSwiper.directiveRef.setIndex(2)">
            <div class="list-item-content">{{person.name}} <button mat-icon-button class="info-btn" (click)="showDetails(person)"><mat-icon>info</mat-icon></button></div>
            <div class="list-item-content steady">{{person.name}} <button mat-icon-button class="info-btn" (click)="showDetails(person)"><mat-icon>info</mat-icon></button></div>
            <div class="list-item-content go">{{person.name}} <button mat-icon-button class="info-btn" (click)="showDetails(person)"><mat-icon>info</mat-icon></button></div>
          </swiper>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-list [class.visible]="bus === 'haifa'">
        <mat-list-item *ngFor="let person of haifa$ | async; let last = last; let i = index; trackBy: trackByFn;"
          [class.hide]="shouldHide(person, 'haifa')" >
          <swiper #haifaSwiper matLine (indexChange)="onIndexChange($event, person, 'haifa')"
            (dblclick)="haifaSwiper.directiveRef.setIndex(2)">
            <div class="list-item-content">{{person.name}} <button mat-icon-button class="info-btn" (click)="showDetails(person)"><mat-icon>info</mat-icon></button></div>
            <div class="list-item-content steady">{{person.name}} <button mat-icon-button class="info-btn" (click)="showDetails(person)"><mat-icon>info</mat-icon></button></div>
            <div class="list-item-content go">{{person.name}} <button mat-icon-button class="info-btn" (click)="showDetails(person)"><mat-icon>info</mat-icon></button></div>
          </swiper>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>