<div class="app-content container-fluid">
  <div class="row">
    <div class="col-12">
      <button style="display: block; width: 24px;" mat-icon-button color="accent" (click)="toggleReadonlyMode()">
        <mat-icon *ngIf="readonlyMode">lock</mat-icon>
        <mat-icon *ngIf="!readonlyMode">lock_open</mat-icon>
      </button>

      <mat-form-field>
        <input matInput placeholder="חפש" [(ngModel)]="searchString">
      </mat-form-field>

      <div>
        <mat-checkbox [(ngModel)]="statusFilter[0]">לא נוכחים</mat-checkbox>
        <mat-checkbox [(ngModel)]="statusFilter[1]">נוכחים בלי אישור</mat-checkbox>
        <mat-checkbox [(ngModel)]="statusFilter[2]">נוכחים עם אישור</mat-checkbox>
      </div>

      <div style="margin-top: 16px;">
        <button style="width: 44%; height: 50px;" mat-raised-button [color]="bus === 'center' ? 'primary' : ''"
          (click)="setBus('center')">מרכז</button>
        <button style="width: 44%; height: 50px;" mat-raised-button [color]="bus === 'haifa' ? 'primary' : ''"
          (click)="setBus('haifa')">חיפה</button>
      </div>

      <mat-list [class.visible]="bus === 'center'">
        <mat-list-item *ngFor="let person of center$ | async; let last = last; let i = index; trackBy: trackByFn;"
          [class.hide]="shouldHide(person)" [class.readonly]="readonlyMode">
          <swiper #centerSwiper matLine (indexChange)="onIndexChange($event, person, 'center')"
            (dblclick)="centerSwiper.directiveRef.setIndex(2)">
            <div class="list-item-content">{{person.name}}</div>
            <div class="list-item-content steady">{{person.name}}</div>
            <div class="list-item-content go">{{person.name}}</div>
          </swiper>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-list [class.visible]="bus === 'haifa'">
        <mat-list-item *ngFor="let person of haifa$ | async; let last = last; let i = index; trackBy: trackByFn;"
          [class.hide]="shouldHide(person)" [class.readonly]="readonlyMode">
          <swiper #haifaSwiper matLine (indexChange)="onIndexChange($event, person, 'haifa')"
            (dblclick)="haifaSwiper.directiveRef.setIndex(2)">
            <div class="list-item-content">{{person.name}}</div>
            <div class="list-item-content steady">{{person.name}}</div>
            <div class="list-item-content go">{{person.name}}</div>
          </swiper>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
