<div class="app-content container-fluid" *ngIf="busGroups$ | async as busGroups">
  <div class="row">
    <div class="col-12">
      <button style="display: block; width: 24px;" mat-icon-button color="accent" (click)="toggleReadonlyMode()">
        <mat-icon *ngIf="readonlyMode">lock</mat-icon>
        <mat-icon *ngIf="!readonlyMode">lock_open</mat-icon>
      </button>

      <mat-form-field>
        <input matInput placeholder="חפש" [(ngModel)]="searchString">
      </mat-form-field>

      <div style="margin-bottom: 14px;">
        <mat-checkbox [ngModel]="statusFilter[0]" (ngModelChange)="setStatusFilter(0, $event)">לא נוכחים</mat-checkbox>
        <mat-checkbox [ngModel]="statusFilter[1]" (ngModelChange)="setStatusFilter(1, $event)">נוכחים בלי אישור
        </mat-checkbox>
        <mat-checkbox [ngModel]="statusFilter[2]" (ngModelChange)="setStatusFilter(2, $event)">נוכחים עם אישור
        </mat-checkbox>
      </div>

      <mat-radio-group *ngIf="busGroups.length" [(ngModel)]="selectedBusGroupId">
        <mat-radio-button *ngFor="let group of busGroups" [value]="group._id">{{group.name}}</mat-radio-button>
      </mat-radio-group>

      <mat-list>
        <mat-list-item *ngFor="let rider of riders$ | async; let last = last; let i = index; trackBy: trackByFn;">
          <div matLine *ngIf="readonlyMode">
            <ng-container *ngTemplateOutlet="riderTpl; context: {rider: rider, status: rider.status}"></ng-container>
          </div>
          <swiper *ngIf="!readonlyMode" #swiper matLine [index]="rider.status"
            (indexChange)="onRiderStatusChange($event, rider)" (dblclick)="swiper.directiveRef.setIndex(2)"
            [disabled]="readonlyMode">
            <ng-container *ngTemplateOutlet="riderTpl; context: {rider: rider, status: 0}"></ng-container>
            <ng-container *ngTemplateOutlet="riderTpl; context: {rider: rider, status: 1}"></ng-container>
            <ng-container *ngTemplateOutlet="riderTpl; context: {rider: rider, status: 2}"></ng-container>
          </swiper>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>

<ng-template #riderTpl let-rider="rider" let-status="status">
  <div class="list-item-content" [ngClass]="{steady: status === 1, go: status === 2}">
    <button mat-icon-button class="info-btn" (click)="showDetails(rider)">
      <mat-icon>info</mat-icon>
    </button>
    <span>{{rider.name}}</span>
  </div>
</ng-template>